#!/usr/bin/env python
PACKAGE = "my_pf"

from dynamic_reconfigure.parameter_generator_catkin import *
from math import pi

gen = ParameterGenerator()

gen.add("pose_correction",    double_t,    0, "Pose Correction Factor", 0.0,  -2.0, 2.0)
gen.add("phase_offset",    double_t,    0, "Phase Offset", 0.0,  -2*pi, 2*pi)

exit(gen.generate(PACKAGE, "my_pf", "STARPose"))